In [83]:
import os

#用path.join来生成路径
#如果各组件名首字母不包含'/'会自动加上
#.代表目前所在的目录
#..代表上一层目录
#"/"：代表根目录/dir代表根目录下的dir文件夹
os.makedirs(os.path.join('..','data'), exist_ok=True)
data_file = os.path.join('..','data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    #open(path, 'w')返回一个文件对象
    #with代表关闭,防止异常,不用close(太复杂)
    #Python will close it automatically
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [84]:
temp=[]
with open(data_file) as f:
    for line in f:
        print(line)#逐行读取
        #\n占一行,所以有空行
        temp.append(line)

NumRooms,Alley,Price

NA,Pave,127500

2,NA,106000

4,NA,178100

NA,NA,140000

In [85]:
def read_file():
    with open(data_file) as f:
        for line in f:
            print(line.rstrip())#清除末尾的指定字符
        #空格、换行符、回车符、制表符

In [86]:
with open(data_file, 'a') as f:   
    #'w'代表写入,r-read,r+读写,default-read
    #write会清空原有内容,'a'代表添加新内容(append)
    f.write("Erikpsw\n")
    

read_file()

NumRooms,Alley,Price
NA,Pave,127500
2,NA,106000
4,NA,178100
NA,NA,140000
Erikpsw

In [87]:
with open(data_file, 'w') as f:
    for i in temp:
        f.write(i+'\n')
read_file()

NumRooms,Alley,Price

NA,Pave,127500

2,NA,106000

4,NA,178100

NA,NA,140000

In [88]:
import pandas as pd

data=pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [89]:
inputs=data.iloc[:,:2]#indexlocate
outputs=data.iloc[:,-1]
inputs=inputs.fillna(input.mean())#对数组取均值

In [90]:
inputs=pd.get_dummies(inputs,dummy_na=True)
inputs#one-hot哑变量(NaN)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [91]:
import torch
x,y=torch.tensor(inputs.values),torch.tensor(outputs.values)
x,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))